<section>
  <article>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" routerLinkActive="active">List Courses</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="create-course" routerLinkActive="active">Create Course</a>
        </li>
    </ul>
  </article>
</section>
<h5>Languages</h5>
<div *ngIf="pipeMetadata.count > 3">
   count is more than 2 
</div>
{{ pipeMetadata.count }}
<section *ngFor="let language of languages; let itemCount=count;">
  <ul>
    <li> {{language | titlecase}} </li>

  </ul>
</section>
<article style="margin-top: 20px;">
  <router-outlet></router-outlet>
</article>